@model DotNetCore_Web_Api.Models.Employee

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Display", "Employee", FormMethod.Post))
        {
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
            <br />
            @Html.LabelFor(m => m.Address)
            @Html.TextBoxFor(m => m.Address)                 
            <br />
            @Html.LabelFor(m => m.Designation)
            @Html.TextBoxFor(m => m.Designation)

            <input type="submit" value="submit" name="Submit">
        }
    </div>


</body>
</html>

